rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Companies Collection
    match /company_accounts/{companyId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Branches Collection
    match /branches/{branchId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Service Requests Collection
    match /service_requests/{requestId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Categories Collection
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Navigation Intents
    match /active_navigators/{intentId} {
      allow read: if true;
      allow write: if request.auth != null;
    }

    // Operating Companies
    match /operating_companies/{companyId} {
      allow read: if true;
      allow write: if request.auth != null;
    }
  }
}
