rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Companies Collection
    match /company_accounts/{companyId} {
      allow read: if true;
      allow write: if true;
    }

    // Branches Collection
    match /branches/{branchId} {
      allow read: if true;
      allow write: if true;
    }

    // Service Requests Collection
    match /service_requests/{requestId} {
      allow read: if true;
      allow create, update: if request.resource.data.plateNumber != null 
                           && request.resource.data.companyId != null;
      allow delete: if true;
    }

    // Categories Collection
    match /categories/{categoryId} {
      allow read: if true;
      allow write: if true;
    }

    // Navigation Intents
    match /active_navigators/{intentId} {
      allow read, write: if true;
    }
  }
}
